@font-face      { font-family: Slabo; src: url('Slabo27px-Regular.ttf'); }

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: Slabo;
}

body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(try.jpg);
}
.banner{
    text-align: center; 
    display: contents; 
    background-color: #82a1a13b;
    border: 2px solid; 
    border-color: darkslategrey;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 20px;
    padding: 10px;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.box {
    width: 100%;
    height: 84%;
    
    
    align-items: center;
    justify-content: center;
    color: white; /* Text color for visibility on red background */
}
.logo{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    width: 250px;
}
.centerTheBlock {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.float-child {
    overflow:auto;
    height: 500px;
    width: 50%;
    float: left;
    border: 2px solid rgb(50, 162, 153);
}  
.float-child-right{
    overflow:auto;
    height: 500px;
    display: flex;
    border: 2px solid rgb(50, 162, 153);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(53, 146, 138);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: rgb(50, 162, 153);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.67s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}


.buttons {
    margin-top: 20px;
    text-align: center;
}

.centerTheBlock {
    text-align: center; 
    display: contents; 
    background-color: #82a1a13b;
    border: 2px solid; 
    border-color: darkslategrey;
    background-image: linear-gradient(#0000, #0000008c), 
        linear-gradient(120deg, rgb(50 162 153 / 9%) 0%, #43555500 50%, #00ff5e00 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 20px;
    padding: 10px;

    }